@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100vw;
    height: 97vh;
}
main {
    position: relative;
    height: 100vh;
    background-image: url("../imagens/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section#telefone {
    width: 248px;
    height: 501px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../imagens/frame-iphone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
iframe {
    width: 212px;
    height: 374px;
    position: relative;
    top: 66px;
    left: 18px;
}
section#redes-sociais {
    width: 100vw;
    text-align: right;
}
a > img {
    border-radius: 50%;
    width: clamp(40px, 5vw, 5vw);
    margin: 8px;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
}
a > img:hover {
    border: 1px solid rgba(255, 255, 255, 0.664);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.61);
    transition: transform 0.4s, border 0.4s;
}